@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Yaldevi:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@200&family=Ubuntu:wght@300&display=swap');

nav {
  margin: 0 auto;
}
.navigation {
  list-style: none;
  max-width: 760px;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.5s;

  background-color: darkcyan;
}
.navigation a:hover {
  color: white;
  background-color: black;
}

.logopic {
  width: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  font-family: 'Gemunu Libre', sans-serif;
  text-align: center;
  color: white;
}

h2,
a {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

p,
li {
  font-family: 'Yaldevi', sans-serif;
  padding: 10px;
}

.responsive li {
  display: block;
}

.hero,
.fiveday,
.article,
.contactinfo {
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

footer {
  text-align: center;
}

body {
  background-color: rgb(60, 60, 60);
}

.menu {
  background-color: darkcyan;
}

#bottom {
  color: white;
  background-color: darkcyan;
  padding: 30px;
}

.weatherimg {
  width: 50px;
}

.fiveday {
  background-color: darkcyan;
}

.tabledays {
  border: solid;
  border-color: black;
}

th {
  border-right: solid;
  border-left: solid;
  border-color: black;
}

table {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border-style: solid;
  border-color: black;
}

li {
  list-style-type: none;
}

.heroimg {
  max-width: 600px;
}
.hero {
  width: 350px;
  padding: 20px;
  border-color: darkcyan;
  background-color: black;
  color: white;
}
.sumclr {
  color: white;
}

.founderimg {
  max-width: 600px;
  width: 100%;
}

.article {
  background-color: black;
  color: white;
  border-color: darkcyan;
}

.map {
  display: none;
}

@media only screen and (min-width: 600px) {
  .navigation {
    display: flex;
    margin: auto;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
    padding: 20px;
  }
  .navigation li:first-child {
    display: none;
  }

  .logopic {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  h1 {
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
    color: white;
  }

  h2,
  a,
  li {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
  }

  h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  }

  p,
  th {
    font-family: 'Yaldevi', sans-serif;
    padding: 10px;
  }

  .hero,
  .fiveday,
  .article,
  .contactinfo {
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  footer {
    text-align: center;
  }

  body {
    background-color: rgb(60, 60, 60);
  }

  .menu {
    background-color: darkcyan;
  }

  #bottom {
    color: white;
    background-color: darkcyan;
    padding: 30px;
  }
  .fiveday {
    background-color: darkcyan;
    margin: auto;
    width: 500px;
    margin-top: 20px;
  }

  .heroimg {
    display: block;
    max-width: 1040px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .maincontent {
    position: relative;
    padding: 10px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .sumheader {
    color: white;
    text-decoration: underline;
  }

  .hero {
    width: 350px;
    padding: 20px;
    border-color: darkcyan;
    background-color: black;
    color: white;
  }
  .sumclr {
    color: white;
  }

  .founderimg {
    max-width: 300px;
    float: right;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .article {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    height: 100%;
  }

  .contactinfo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-width: 960px;
  }

  .contactdiv {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .map {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 400px;
    margin: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    display: block;
  }

  .article {
    color: black;
  }
}

@media only screen and (min-width: 1040px) {
  .navigation {
    display: flex;
    margin: auto;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
    padding: 20px;
  }
  .navigation li:first-child {
    display: none;
  }

  .logopic {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  h1 {
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
    color: white;
  }

  h2,
  a,
  li {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
  }

  h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  }

  p,
  th {
    font-family: 'Yaldevi', sans-serif;
    padding: 10px;
  }

  .hero,
  .fiveday,
  .article,
  .contactinfo {
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  footer {
    text-align: center;
  }

  body {
    background-color: rgb(60, 60, 60);
  }

  .menu {
    background-color: darkcyan;
  }

  #bottom {
    color: white;
    background-color: darkcyan;
    padding: 30px;
  }
  .fiveday {
    background-color: darkcyan;
    margin: auto;
    width: 500px;
    margin-top: 20px;
  }

  .heroimg {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .maincontent {
    position: relative;
    padding: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    position: absolute;
    top: 100px;
    left: 20px;
  }

  .sumheader {
    color: black;
    text-decoration: underline;
  }

  .sumclr {
    color: black;
  }

  .founderimg {
    max-width: 300px;
    float: right;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .article {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 100%;
  }

  .contactinfo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-width: 1200px;
  }

  .contactdiv {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .map {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 400px;
    margin: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
  }
}
